<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="AnnulledRegex" value="При.*|Прзи.*|Анну.*|Прекращено*|Истек .*"/>
    <add key="LicenceRegex" value="\d{3,}[А-Я]{1,}\d{3,}"/>
    <add key="ValidRegex" value="Дейст.*|Вы.*|Пере.*|.*,.*|.*разреш.*|.*до.*"/>
    <add key="CommandsEnable" value="true"/>
  </appSettings>
</configuration>